<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    
    <title>WeatherApp</title>
</head>
<body>

  <!-- API KEY OPENWEATHERMAP: 3b5f9288fe346cb7c91124e5d79fbfcd  -->

    <!-- HEADER -->
    <nav class=" header navbar navbar-expand-lg navbar-light bg-dark">
        Weather App
       <a class="logout" href="/login">Deconnexion</a>
   </nav> 


   <!-- GRID -->

    <div class="container">
      

        <div class="row">
          <div class="col-12 ">
            <!-- Title  -->
            <span class="msgTitle">Weather App</span>
            <span class="msgSubtitle">L'actualité météo de votre ville en temps réel</span>
          </div>

          <div class="col-12 col-lg-6 ">
            <!-- METEO DU JOUR  -->
            <div>
              <div>
                <span class="meteo">Météo du jour</span>
              </div>
            </div>
            <div>
              <span class="dateCSS">
                <%=dateD%>
              
              </span>
            </div>
          </div>
          
            <div class="col-12 col-lg-6">
              <!-- offset-lg-6 permet de décaler de 6 colonne et laisser une place vide  -->
                <!-- SEARCH BAR  -->
                <form action="/add-city" method="post">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter City Name" name="city" value="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-warning" type="submit">Add</button>
                    </div>
                  </div>
                </form>
                
             </div>
            
            <div class="col-12 col-lg-6">
                <!-- MAP  -->
                <img class="mapWeather" src="/images/map.png">
            </div>

            <div class="col-12 col-lg-6">
                <!-- LIST  -->
                
                <% if(cityList.length == 0){%>
                  <span class="empty">No cities found</span>
                <%}%>

                <ul class="list-group">

                <% 
                  for(let i=0; i<cityList.length ; i++) { 
                %>

                  <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="cities"> <%=cityList[i].name%> </span>
                      
                      <div class="listGroupInformations">

                        <%=cityList[i].desc%>
                        <img class="imgList" src="<%=cityList[i].image%>">
                        <span class="lowTemp  badge-pill badge-info"><%=cityList[i].tempMin%>°C</span> /
                        <span class="highTemp  badge-pill badge-danger"><%=cityList[i].tempMax%>°C</span>

                      </div>
                      <div>
                        <span><a class="pictoWarning" href="/delete-city?position=<%=i%>"> <i class="far fa-times-circle"></i> </a> </span>
                      </div>
                    </li>

                <% 
                  } 
                %>


                </ul>
            </div>

            
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>